.project-inline {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.portfolio {
    color: black;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.text-text,
.portfolio-intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.images {
    max-width: 250px;
    object-fit: cover;
    aspect-ratio: 1;
}

h2 {
    color: black;

}

.project-link {
    max-width: max-content;
    color: rgb(0, 0, 0);
    font-size: clamp(1.1rem, 1.35rem, 2.1vw);
    font-weight: normal;
    text-decoration: none;
}

.project-link:hover {
    font-weight: bold;
}

@media screen and (max-width:680px) {

    .project-inline {
        display: flex;
        flex-direction: column;
    }


    .images,
    .project-link {
        max-width: 100%;
    }

    .images {
        aspect-ratio: initial;

    }

    main {
        width: 90%;
    }


}

@media (min-width:681px) {
    .images:hover {
        scale: 1.5;
    }

}